@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*all doctors page */
.bg-blue{
background-color: rgb(95, 111, 255);

}
.bg-blue:hover{
  background-color: rgb(95, 111, 255, 0.9);
  
  
  }

  .doctor-nav ul li a:hover{ 
    animation: shake 0.5s ease;

  }
  @keyframes shake {
  0%{ transform: translateY(0); }
  20% { transform: translateY(-5px); }
  40% { transform: translateY(5px); }
  60% { transform: translateY(-5px); }
  80% { transform: translateY(5px); }
  100% { transform: translateY(0); }
  }
.doctor-nav li a{
  transition: all 0.3s ease;
}
.doctor-hover2{
  border-radius:2px;
  background-color: rgb(95, 111, 255, 0.1);
  
  
}


.doctor-hover{
  transition: transform 0.5s ease-in-out;

  
  
}

.doctor-hover:hover{
  transform: scale(0.9); 
  background-color: white;
  
  
}

.available-color{
color:rgb(22, 172, 22);


}

.active{
  background-color: rgb(95, 111, 255);
  color: #fff;
  }
  .date ul li p:active, .date ul li p:hover{
    background-color: rgb(95, 111, 255);
    color: #fff;
    
    }

    .about{
      transition: all 0.3s ease;

    }
    .about:hover{

      background-color: rgb(95, 111, 255);
      color: #fff;

    }

.active hr{
@apply block 
}
::-webkit-scrollbar{
@apply hidden
}

/* Month and year text in the header */
.react-datepicker__current-month {
  color: #fff; /* Change the text color of the month and year */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}



.react-datepicker {
  
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: px;
  
}

.react-datepicker__header {
  background-color:  rgb(95, 111, 255);
  color:#fff;
}

.react-datepicker__day {
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
}

.react-datepicker__day-name 
   {
  color: #fff; /* White text for day names */
  font-weight: bold;
  padding: 2px;
}

.react-datepicker__day:hover {
  background-color:rgb(95, 111, 255) ;
  border-radius: 50%;
}

.react-datepicker__day--selected {
  background-color:rgb(95, 111, 255) ;
 
  color: white;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #ff4500; /* Highlight today's date in orange */
}

