.CreateAccount{
    width: 80%;
    height: auto;
    background-color: #5F6FFF;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 400px;
    margin: 8% auto;
    border-radius: 12px;
}
.CreateAccount div{
    min-width: 340px;
    min-height: 250px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
    flex-direction: column;
    padding: 20px 10px;
    overflow: hidden;
}
.CreateAccount h2{
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.CreateAccount button{
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #5F6FFF;
    border-radius: 50px;
    background-color: #fff;
    padding: 10px 20px;
    margin: auto 0;
    transition: transform 0.3s ease-in-out;
}
.CreateAccount button:active{
    transform: scale(0.9);
}
.CreateAccount .image{
    margin-top: -8%;
    padding: 0;
}
.CreateAccount img{
    width: 100%;
    height: 100%;
    margin-bottom: -1%;
}
















@media (max-width:1024px){
    .CreateAccount .image{
        display: none;
    }
}


@media (max-width:768px){
    .createAccount .text{
        align-items: center;
        overflow: visible;
    }
    .CreateAccount h2{
        font-size: 1.5rem;
    }
}
